@import url(./assets/styles/styles-file-input.css);

/* SCROLL */
/* Anchura y color del riel */
::-webkit-scrollbar {
   width: 12px; /* Cambia el ancho de la barra de desplazamiento */
}

/* Color del riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
   background: #f1f1f1; /* Cambia el color del riel */
}

/* Estilo del pulgar (la parte deslizante de la barra) */
::-webkit-scrollbar-thumb {
   background: #a46c38; /* #1E5529 Cambia el color del pulgar */
   border-radius: 10px; /* Redondea las esquinas del pulgar */
}

/* Estilo del pulgar al pasar el ratón por encima */
::-webkit-scrollbar-thumb:hover {
   background: #e6b383; /* #237433 Cambia el color del pulgar al pasar el ratón por encima */
}
/* SCROLL */

.MuiDialogTitle-root, .form.MuiBox-root {
   & h1,h2,h3,h4{
      font-size: clamp(1.2rem,1.5vw,2rem);
   }
}
/* 
.p-filter-column{
   height: fit-content;
} */

thead > tr:nth-child(2) {
   /* background-color: #f0f0f0;
   color: #333; */

   > th.custom-filter-header.p-filter-column {
      background-color: #f0f0f0;
      max-height: min-content;

      input.p-inputtext.p-component.p-column-filter {
         font-size:12px;
         padding-block: 5px;
      }
      button {
         height: 20px;
         width: 20px;
         display: none;

         svg {
            height: 12px;
         }
      }
   }
}


.custom-filter-header {
   height: 10px !important;
   padding: 5px;
   font-size: 12px;
   /* border-radius: 4px; */
   /* Agrega más estilos según sea necesario */

 }
 



.bg-login {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url("./assets/images/bg-login.jpg");
   background-position: bottom;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   z-index: -10;
}
.bg-login::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   backdrop-filter: blur(6px);
   filter: brightness(0.55);
   z-index: -10;
}
.bg-login::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(4, 80, 4, 0.288);
   z-index: -1;
}

.form,
.drawer-max-width {
   max-width: 35vw;
   height: 88%;
}

.swal2-backdrop-show {
   z-index: 10000;
}

/* LOADER */
.loader {
   /* width: 48px;
   height: 48px; */
   display: inline-block;
   position: relative;
   animation: animloader 2s ease-in-out infinite;
}

@keyframes animloader {
   0% {
      transform: scale(1);
      opacity: 0.5;
   }
   50% {
      transform: scale(1.5);
      opacity: 1;
   }
   100% {
      transform: scale(1);
      opacity: 0.5;
   }
}



.brand-container {
   position: absolute;
   bottom: 60px;
   /* transform: translateX(-50%); */
   right: 50px;
   z-index: 0;
   display: flex;
   align-items: center;
}
.vehicle-container {
   /* maxHeight: "350px", */
   height: 350px;
   width: 650px;
   object-fit: cover;
   position: absolute;
   z-index: 0;
   transform: scale(0);
}

.container-blur {
   height: 100%;
   width: 100%;
   backdrop-filter: blur(5px);
   /* background-color: rgba(0, 128, 0, 0.5); */
}

.zoom-in {
   animation: forwards animZoomIn 0.8s cubic-bezier(0.72, 0.01, 0.71, 1.65);
}

.zoom-out {
   animation: forwards animZoomOut 0.8s cubic-bezier(0.63, -0.14, 0.05, 0.99);
}

.cursor-loading {
   cursor: wait;
}

@keyframes animZoomIn {
   from {
      transform: scale(0);
   }
   to {
      transform: scale(1);
   }
}

@keyframes animZoomOut {
   from {
      transform: scale(1);
   }
   to {
      transform: scale(0);
   }
}

.btn-action {
   cursor: pointer;
   opacity: 0.75;
   transform: scale(0.95);
   transition: all 0.2s ease-in-out;
}
.btn-action:hover {
   transform: scale(1);
   opacity: 1;
}


th.text-center .p-column-header-content {
   justify-content: center;
}

.bg-request-index {
   /* position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url("./assets/images/icon.png");
   background-position: bottom;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed; */
   /* z-index: 1; */
      position: absolute;
      left: 0;
      top: 0;      
      width: 100%;
      height: 100%;
      opacity: 0.4;
      object-fit: contain;
}

.page-break {
   page-break-before: always;
}


/* //IMAGENES */
.containerImg {
   text-align: center;
   padding: 20px;
   border: 1px #555 solid;
   border-radius: 10px;
   margin-bottom: 20px;

   & img{
      object-fit: cover;
      max-width: 80%;
      border-radius: 10px;
   }

   & .title {
      font-size: 18px;
      font-weight: bold;
      color: #364152;
   }

   & .caption {
      margin-top: -5px;
      font-size: 14px;
      color: #555;
      font-style: italic;
   }
}

/* //IMAGENES */

@media (max-width: 1500px) {
   .form,
   .drawer-max-width {
      max-width: 50vw;
   }
}
@media (max-width: 1040px) {
   .form,
   .drawer-max-width {
      max-width: 80vw;
   }
}
@media (max-width: 420px) {
   .form,
   .drawer-max-width {
      max-width: 95vw;
   }
}

.MuiTypography-h4, h4 {
   font-size: clamp(0.8rem,1.5vw,2rem);
}