.form,
.drawer-max-width {
   max-width: 35vw;
}

.swal2-backdrop-show {
   z-index: 10000;
}

/* LOADER */
.loader {
   /* width: 48px;
   height: 48px; */
   display: inline-block;
   position: relative;
   animation: animloader 2s ease-in-out infinite;
}

@keyframes animloader {
   0% {
      transform: scale(1);
      opacity: 0.5;
   }
   50% {
      transform: scale(1.5);
      opacity: 1;
   }
   100% {
      transform: scale(1);
      opacity: 0.5;
   }
}

/* MOSTRAR COMO TOOLTIP LA IMAGEN */
.cursor-pointer {
   cursor: pointer;
}
.tooltip_imagen {
   /* display: none; */
   opacity: 0;
   position: fixed;
   z-index: 99;
   height: 0%;
   object-fit: cover;
   top: 58%;
   transform: translateY(-50%) translateX(-42em); /*arriba de la imagen*/
   border-radius: 15px;
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
   transition: all 0.6s ease-in-out;
}

.tt_show {
   /* display: inline; */
   opacity: 1;
   height: 250px;
   transform: translateY(-50%) translateX(-50em); /*arriba de la imagen*/
}
/* MOSTRAR COMO TOOLTIP LA IMAGEN */

.brand-container {
   position: absolute;
   bottom: 60px;
   /* transform: translateX(-50%); */
   right: 50px;
   z-index: 0;
   display: flex;
   align-items: center;
}
.vehicle-container {
   /* maxHeight: "350px", */
   height: 350px;
   width: 650px;
   object-fit: cover;
   position: absolute;
   z-index: 0;
   transform: scale(0);
}

.container-blur {
   height: 100%;
   width: 100%;
   backdrop-filter: blur(5px);
   /* background-color: rgba(0, 128, 0, 0.5); */
}

.zoom-in {
   animation: forwards animZoomIn 0.8s cubic-bezier(0.72, 0.01, 0.71, 1.65);
}

.zoom-out {
   animation: forwards animZoomOut 0.8s cubic-bezier(0.63, -0.14, 0.05, 0.99);
}

.cursor-loading {
   cursor: wait;
}

@keyframes animZoomIn {
   from {
      transform: scale(0);
   }
   to {
      transform: scale(1);
   }
}

@keyframes animZoomOut {
   from {
      transform: scale(1);
   }
   to {
      transform: scale(0);
   }
}

.btn-action {
   cursor: pointer;
   opacity: 0.75;
   transform: scale(0.95);
   transition: all 0.2s ease-in-out;
}
.btn-action:hover {
   transform: scale(1);
   opacity: 1;
}

/* CONTENEDOR DE IMAGENES */
.dropzone-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   width: 100%;
}

.dropzone {
   border: 5px dashed #1455cb;
   border-radius: 14px;
   padding: 0.5rem;
   text-align: center;
   cursor: pointer;
   width: 100%;
   transition: all 0.3s ease-in-out;
}
.dropzone:hover {
   border: 5px solid #1455cb;
   background-color: #e9ecefb9;
}

.dropzone p {
   font-size: 1rem;
}

.file-preview {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   /* flex-direction: column; */
   gap: 15px;
   background-color: #e9ecef;
   border-radius: 12px;
   max-width: 100%;
   overflow-x: auto;
   /* margin-top: 5px; */
   /* overflow-y: scroll; */
   max-height: 350px;
}
.file-preview .preview-img {
   max-width: 100px;
   max-height: 100px;
   object-fit: cover;
   /* border: 1px solid #ddd; */
}

.preview-item {
   position: relative;
   width: 95%; /*150px;*/
   text-align: center;
}
.preview-item .preview-img {
   max-width: 100%;
   max-height: 100px;
}

.progress-bar {
   width: 100%;
   height: 10px;
   background-color: #ddd;
}

.progress-bar-fill {
   height: 100%;
   background-color: #007bff;
}

.remove-button {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0%;
   right: 0%;
   background-color: transparent;
   color: transparent; /* Color del icono de eliminar */
   border: none;
   border-radius: 12px;
   font-weight: bolder;
   cursor: pointer;
   font-size: 20px;
   transition: all 0.3s ease-in-out;
}

.remove-button:hover {
   background-color: #777777a1; /* Color de fondo al pasar el ratón */
   color: #e9ecef; /* Color del icono de eliminar al pasar el ratón */
}
/* CONTENEDOR DE IMAGENES */

th.text-center .p-column-header-content {
   justify-content: center;
}



@media (max-width: 1500px) {
   .form,
   .drawer-max-width {
      max-width: 50vw;
   }
}
@media (max-width: 1040px) {
   .form,
   .drawer-max-width {
      max-width: 80vw;
   }
}
@media (max-width: 420px) {
   .form,
   .drawer-max-width {
      max-width: 95vw;
   }
}
